<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <title>angular</title>
    <script type="text/javascript" src="angular-1.5.7/angular.js"></script>
    <script type="text/javascript" src="angular-1.5.7/angular-route.js"></script>
    <script type="text/javascript" src="angular-1.5.7/angular-sanitize.js"></script>
    <script type="text/javascript" src="js/angular-media-player.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css" />
</head>
<!--一个页面只有一个ng-app-->

<body ng-app="myApp">
    <div>
        <div ng-controller="firstController">
            input:
            <input type="text" ng-model="name" value="" />
            <br> expression:{{name}}
            <br>ng-bind:
            <div ng-bind="name">
            </div>
            当地时间 : {{date}}

        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <hr>
    <div id="cart" ng-controller="cartController" class="container">
        title : {{message}}
        <table class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>quantity</th>
                    <th>price</th>
                    <th>total</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in cart">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>
                        <button type="button" class="btn btn-default" ng-click="reduce(item.id)">-</button> {{item.quantity}}
                        <button type="button" class="btn btn-default" ng-click="add(item.id)">+</button>
                    </td>
                    <td>{{item.price}}</td>
                    <td>{{(item.price)*(item.quantity)}}</td>
                    <td>
                        <button type="button" class="btn btn-primary" ng-click="remove(item.id)">remove</button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>total quantity:</td>
                    <td>{{totalquantity()}}</td>
                    <td>total price:</td>
                    <td>{{totalprice()}}</td>
                    <td>
                        <button type="button" class="btn btn-danger" ng-click="removeAll()">removeAll</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>

    <div class="container" id="list" ng-controller="listController">
        title : {{message}}
        <form>
            <input type="text" class="form-control" placeholder="search" ng-model="search">
        </form>
        <table class="table">
            <thead>
                <tr>
                    <td ng-class="{dropup:order===''}">id<span class="caret" ng-click="changeOrder(id)"></span></td>
                    <td ng-class="{dropup:order===''}">
                        name<span class="caret" ng-click="changeOrder(name)"></span>
                    </td>
                    <td ng-class="{dropup:order===''}">
                        quantity<span class="caret" ng-click="changeOrder(quantity)"></span> </td>
                    <td ng-class="{dropup:order===''}">price<span class="caret" ng-click="changeOrder(price)"></span></td>
                </tr>
            </thead>
            <tboay>
                <tr ng-repeat="item in list|filter:search| orderBy:order + orderType|uniqueFilter:'id'|quantityFilter">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.price}}</td>
                </tr>
            </tboay>
        </table>
    </div>

    <hr>
    <div class="container" id="directive">
        directive:
        <hello>old</hello>
    </div>

    <hr>

    <div id="GuessNumber" ng-controller="guessController" class="container" style="text-align:center">
        <h1>Guess Number</h1>

        <form class="form-inline">
            <input type="text" class="form-control" style="width:100px" ng-model="guessData">
            <button class="btn btn-primary" ng-click="guess()">guess</button>
            <button class="btn btn-danger" ng-click="restart()">restart</button>
        </form>
        <p></p>
        <P class="text-info">Number of guesses:<span class="badge">{{count}}</span></P>
        <p ng-show="deviation<0" class="alert alert-warning">Your guess is lower.</p>
        <p ng-show="deviation>0" class="alert alert-warning">Your guess is higher.</p>
        <p ng-show="deviation===0" class="alert alert-success">Yes! That"s it.</p>

    </div>
    <hr>
    <!--  workout  -->
    <div id="workout">
        <div ng-view></div>
    </div>

</body>



<script type="text/javascript" src="7MinutesWorkout/workout_global.js"></script>
<script type="text/javascript" src="index_controller.js"></script>
<script type="text/javascript" src="index_directive.js"></script>
<script type="text/javascript" src="7MinutesWorkout/workout_controller.js"></script>
<script type="text/javascript" src="7MinutesWorkout/workout_route.js"></script>
<script type="text/javascript" src="7MinutesWorkout/workout_filter.js"></script>

</html>
