<div class="container phd_filter">

    <div class="row">
        <!--   Site -->
        <div class="col-lg-2" id="siteSelect">
            <div>
                <div>
                    <div style="float: left">Site</div>
                </div>
            </div>
            <div>
                <select style="width:200px" toggle ng-model="result.siteSelection" selectpicker data-live-search="true" multiple data-actions-box="true" ng-options="s for s in defaults.site">
                </select>
            </div>
        </div>
        <!--    Date    -->
        <div class="col-lg-2" id="dateSelect">

            <div style="float: left">Date Range</div>
            <div>
                <div style="float: left; margin-right: 5px">
                    <input date-range-picker class="form-control date-picker" type="text" ng-model="result.dateSelection" style="width: 220px;padding-left: 36px;" id="dateFilter" min="'2014-02-23'" max="'2015-02-25'" options="defaults.date" />
                </div>
            </div>
        </div>

        <!--      compare  -->
        <div class="col-lg-2">
            <div>
                <div style="float: left">Compare</div>
            </div>
            <div>
                <select id="compare" selectpicker ng-model="result.compare" toggle data-live-search="true" ng-options="s for s in defaults.compare">
                    
                </select>
            </div>
        </div>

        <!--      and  -->
        <div class="col-lg-2" id="and">
            <div>
                <div style="float: left">And</div>
            </div>
            <div>
                <select id="compare" selectpicker ng-model="result.compare" toggle data-live-search="true" ng-options="s for s in defaults.and">
                   
                </select>
            </div>
        </div>
        <!--    separator    -->
        <div>

        </div>
        <!--      7DMA  -->
        <div>
            <div style="float: left; margin-right: 5px" ng-if="dim.is_optional">
                <input type="checkbox" ng-model="result.checked"> 7DMA
            </div>
        </div>

    </div>

    <div class="row col-lg-2" style="margin-top:10px">
        <button class="btn btn-primary" ng-click="apply()">Apply</button>
    </div>
</div>
