.nav_page_name {
    margin-top: 30px;
}

.nav_tab_div {
    padding-top: 10px;
}

.nav_tab_div a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.filter_section {
    padding-top: 20px;
    margin-top: 20px;
    width: auto;
    height: auto;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
}

.filter_section .row {
    margin-left: 20px;
    margin-bottom: 10px;
}

.dropdown_selector {
    margin-top: 10px;
}

#site_selector {}

.nav_label_name {
    margin-top: 10px;
    width: auto;
    background-color: #fff;
    border: 1px solid #e3e3e3;
}

.one_column_chart {
    background-color: #fff;
    border: 1px solid #e3e3e3;
    text-align: center;
    font-size: 20px;
}

.high_chart {
    border: 1px solid #e3e3e3;
}