<div class="col-md-12 container phd_filter">

    <div class="row">
        <!--   Site -->
        <div id="siteSelect" class="filterUnit banner-element">
            <div>
                <div>
                    <div class="filterLabel">Site</div>
                </div>
            </div>
            <div>
                <select style="width:200px" toggle ng-model="result.siteSelection" selectpicker data-live-search="true" multiple data-actions-box="true" ng-options="site for site in defaults.site">
                </select>
            </div>
        </div>
        <!-- Device -->
        <div id="deviceSelect" class="filterUnit banner-element">
            <div>
                <div>
                    <div class="filterLabel">Device</div>
                </div>
            </div>
            <div>
                <select style="width:200px" toggle ng-model="result.deviceSelection" selectpicker data-live-search="true" multiple data-actions-box="true" ng-options="site for site in defaults.device">
                </select>
            </div>
        </div>
        <!-- Experience -->
        <div id="expSelect" class="filterUnit banner-element">
            <div>
                <div>
                    <div class="filterLabel">Experience</div>
                </div>
            </div>
            <div>
                <select style="width:200px" toggle ng-model="result.experienceSelection" selectpicker data-live-search="true" multiple data-actions-box="true" ng-options="site for site in defaults.experience">
                </select>
            </div>
        </div>
        <!--    Date    -->
        <div id="dateSelect" class="filterUnit banner-element">

            <div class="filterLabel">Date Range</div>
            <div>
                <div style="float: left; margin-right: 5px">
                    <i class="fa fa-calendar" style="position: absolute;top: 50px;left: 20px;"></i>
                    <input date-range-picker class="form-control date-picker" type="text" ng-model="result.dateSelection" style="padding-left: 36px; height: 30px; width: 220px; font-size: 14px;" id="dateFilter" options="defaults.dateRangeConfig" />
                </div>
            </div>
        </div>
        <!--    separator    -->
        <div class="filter-v-border"></div>
        <!--      compare  -->
        <div class="filterUnit banner-element">
            <div>
                <div class="filterLabel">Compare</div>
            </div>
            <div>
                <select id="compare" class="selectpicker" selectpicker ng-model="result.compare" data-live-search="true" ng-options="c for c in defaults.compare">
                </select>
            </div>
        </div>

        <!--      and1  -->
        <div id="and1" class="filterUnit banner-element">
            <div>
                <div class="filterLabel">And</div>
            </div>
            <div>
                <select selectpicker ng-model="result.and1" data-live-search="true" ng-options="a for a in defaults.and1" ng-disabled="result.compareNotSelected">
                </select>
            </div>
        </div>
        <!--      and2  -->
        <div id="and2" class="filterUnit banner-element">
            <div>
                <div class="filterLabel">And</div>
            </div>
            <div>
                <select selectpicker ng-model="result.and2" data-live-search="true" ng-options="a for a in defaults.and2" ng-disabled="result.and1NotSelected">
                </select>
            </div>
        </div>
        <!--    separator    -->
        <div class="filter-v-border"></div>
        <!--      7DMA  -->
        <div class="banner-element pull-left">
            <div class="checkbox v-middle">
                <div class="checkboxLabel">
                    <input type="checkbox" ng-model="result.dma"> 7DMA
                    &nbsp;&nbsp;<a href="http://phd-jenkins-9056.lvs01.dev.ebayc3.com/nousfe/app/#/mmd" target="_new">MMD</a>
                </div>
           
            </div>
        </div>
        <br style="clear:both;padding:0;margin:0">
        <div class="banner-element">
            <div class="v-middle">
                <button type="button" ng-click="apply()" class="btn btn-primary">Apply</button>
            </div>
        </div>

    </div>
    

    
</div>
