<!DOCTYPE HTML>
<html>

<head>
    <link type="text/css" href="css/bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" href="css/daterangepicker.css" rel="stylesheet" />
    <link type="text/css" href="css/font-awesome.min.css" rel="stylesheet" />
    <link type="text/css" href="css/bootstrap-select.min.css" rel="stylesheet" />
    <!--  <link type="text/css" href="css/phd.css" rel="stylesheet" /> -->
    <link type="text/css" href="css/phd/shipping.css" rel="stylesheet" />
    <link type="text/css" href="css/jquery.qtip.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/daterangepicker.css" />
    <link rel="stylesheet" href="css/highlight/default.min.css">

    <script src="js/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="angular-1.5.7/angular.min.js" type="text/javascript"></script>
    <script src="angular-1.5.7/angular-route.min.js" type="text/javascript"></script>
    <script src="angular-1.5.7/angular-sanitize.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>

    <script src="js/highstock.js" type="text/jscript"></script>
    <script src="js/jquery.qtip.min.js" type="text/javascript"></script>
    <script src="js/moment.min.js" type="text/javascript"></script>
    <script src="js/highcharts-more.js" type="text/javascript"></script>

    <script src="js/highlight/highlight.js" type="text/javascript"></script>
    <script src="js/angular-highlightjs.min.js"></script>
    <script src="js/daterangepicker.js" type="text/javascript"></script>
    <script src="js/angular-daterangepicker.js" type="text/javascript"></script>
    <script src="js/lodash.js" type="text/javascript"></script>
    <script src="js/FileSaver.js" type="text/javascript"></script>

    <script src="js/angular-bootstrap-select.js" type="text/javascript"></script>
    <script src="js/bootstrap-select.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/highcharts-buttons.js"></script>


    <title>Phd Ship</title>


</head>

<body ng-app="phdShip">

    <div ng-controller="phdShipController">

        <!--shipping filter-->
        <!--   set defualt value in 'query' and get the filter selection by 'result'     -->
        <phd-filter defaults="defaults" result="result" apply="apply()"></phd-filter>
        <!--<pre>{{result|json}}</pre>-->

        <!--       <pre>{{query|json}}</pre>-->
        <div id="charts" class="row" style="width: 100%">
            <div class="col-md-3 group">
                <div class="toptitle">Tracking</div>

                <div class="charts-cntr">
                    <div class="shipping-chart">
                        <div class="chart-cntr smask" style="" ng-if="isLoading">
                            <img class="loading" src="img/ajax-loader.gif" />
                        </div>

                        <phd-chart class="chart-cntr" chart-config="reports['1']" modal="modal">
                        </phd-chart>

                    </div>


                    <div class="shipping-chart">
                        <div class="chart-cntr smask" style="" ng-if="isLoading">
                            <img class="loading" src="img/ajax-loader.gif" />
                        </div>
                        <phd-chart class="chart-cntr" chart-config="reports['2'] " modal="modal">
                        </phd-chart>
                    </div>

                </div>
            </div>


            <div class="col-md-3 group">
                <div class="toptitle">Pick Up Drop Off</div>
                <div class="charts-cntr">
                    <div class="shipping-chart">
                        <div class="chart-cntr smask" style="" ng-if="isLoading">
                            <img class="loading" src="img/ajax-loader.gif" />
                        </div>
                        <phd-chart class="chart-cntr" chart-config="reports['3']" modal="modal">
                        </phd-chart>
                    </div>
                    <div class="shipping-chart">
                        <div class="chart-cntr smask" style="" ng-if="isLoading">
                            <img class="loading" src="img/ajax-loader.gif" />
                        </div>
                        <phd-chart class="chart-cntr" chart-config="reports['4']" modal="modal">
                        </phd-chart>
                    </div>

                </div>
            </div>


            <div class="col-md-3 group">
                <div class="toptitle">Label Adoption & GSP</div>
                <div class="charts-cntr">
                    <div class="shipping-chart">
                        <div class="chart-cntr smask" style="" ng-if="isLoading">
                            <img class="loading" src="img/ajax-loader.gif" />
                        </div>
                        <phd-chart class="chart-cntr" chart-config="reports['5']" modal="modal">
                        </phd-chart>
                    </div>

                    <!--  <div class="charts-cntr"> -->
                    <div class="shipping-chart">
                        <div class="chart-cntr smask" style="" ng-if="isLoading">
                            <img class="loading" src="img/ajax-loader.gif" />
                        </div>
                        <phd-chart class="chart-cntr" chart-config="reports['6']" modal="modal">
                        </phd-chart>
                    </div>
                    <!-- </div> -->
                </div>
            </div>

            <div class="col-md-3 group">
                <div class="toptitle">GSP</div>
                <div class="charts-cntr">
                    <div class="shipping-chart">
                        <div class="chart-cntr smask" style="" ng-if="isLoading">
                            <img class="loading" src="img/ajax-loader.gif" />
                        </div>
                        <phd-chart class="chart-cntr" chart-config="reports['7']" modal="modal">
                        </phd-chart>
                    </div>
                    <!--  <div class="charts-cntr"> -->
                    <div class="shipping-chart">
                        <div class="chart-cntr smask" style="" ng-if="isLoading">
                            <img class="loading" src="img/ajax-loader.gif" />
                        </div>
                        <phd-chart class="chart-cntr" chart-config="reports['8']" modal="modal">
                        </phd-chart>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-all">
                <div class="nous-comments" data-href="tm-comment-ph-ship" data-numposts="6" data-colorscheme="light" data-width="600"></div>

            </div>
        </div>


        <div ng-include="'html/phd_deepdive.html'">
        </div>

        <div ng-include="'html/phd_show_sql_modal.html'">
        </div>

    </div>

</body>

<script type="text/javascript" src="js/highcharts-ng.js"></script>
<script type="text/javascript" src="js/phd_shipping/annotation.js"></script>
<script type="text/javascript" src="js/phd_shipping/phd_controller.js"></script>
<script type="text/javascript" src="js/phd_shipping/phd_directive.js"></script>
<script type="text/javascript" src="js/phd_shipping/phd.js"></script>
<script type="text/javascript" src="js/phd_shipping/phd_deepdive_directive.js"></script>



</html>
